$active: 0px 5px 14px 0px rgba(0, 0, 0, 0.12),
  0px 9px 10px 0px rgba(0, 0, 0, 0.14), 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
$amberaccent-1: rgba(255, 229, 127, 1);
$amberaccent-2: rgba(255, 215, 64, 1);
$amberaccent-3: rgba(255, 196, 0, 1);
$amberaccent-4: rgba(255, 171, 0, 1);
$amberamber: rgba(255, 193, 7, 1);
$amberdarken-1: rgba(255, 179, 0, 1);
$amberdarken-2: rgba(255, 160, 0, 1);
$amberdarken-3: rgba(255, 143, 0, 1);
$amberdarken-4: rgba(255, 111, 0, 1);
$amberlighten-1: rgba(255, 202, 40, 1);
$amberlighten-2: rgba(255, 213, 79, 1);
$amberlighten-3: rgba(255, 224, 130, 1);
$amberlighten-4: rgba(255, 236, 179, 1);
$amberlighten-5: rgba(255, 248, 225, 1);
$black-006: rgba(0, 0, 0, 0.06);
$black-012: rgba(0, 0, 0, 0.12);
$black-018: rgba(0, 0, 0, 0.18);
$black-02: rgba(0, 0, 0, 0.2);
$black-026: rgba(0, 0, 0, 0.26);
$black-038: rgba(0, 0, 0, 0.38);
$black-042: rgba(0, 0, 0, 0.42);
$black-054: rgba(0, 0, 0, 0.54);
$black-058: rgba(0, 0, 0, 0.58);
$black-06: rgba(0, 0, 0, 0.6);
$black-087: rgba(0, 0, 0, 0.87);
$blue-greyblue-grey: rgba(96, 125, 139, 1);
$blue-greydarken-1: rgba(84, 110, 122, 1);
$blue-greydarken-2: rgba(69, 90, 100, 1);
$blue-greydarken-3: rgba(55, 71, 79, 1);
$blue-greydarken-4: rgba(38, 50, 56, 1);
$blue-greylighten-1: rgba(120, 144, 156, 1);
$blue-greylighten-2: rgba(144, 164, 174, 1);
$blue-greylighten-3: rgba(176, 190, 197, 1);
$blue-greylighten-4: rgba(207, 216, 220, 1);
$blue-greylighten-5: rgba(236, 239, 241, 1);
$blueaccent-1: rgba(130, 177, 255, 1);
$blueaccent-2: rgba(68, 138, 255, 1);
$blueaccent-3: rgba(41, 121, 255, 1);
$blueaccent-4: rgba(41, 98, 255, 1);
$blueblue: rgba(33, 150, 243, 1);
$bluedarken-1: rgba(30, 136, 229, 1);
$bluedarken-2: rgba(25, 118, 210, 1);
$bluedarken-3: rgba(21, 101, 192, 1);
$bluedarken-4: rgba(13, 71, 161, 1);
$bluelighten-1: rgba(66, 165, 245, 1);
$bluelighten-2: rgba(100, 181, 246, 1);
$bluelighten-3: rgba(144, 202, 249, 1);
$bluelighten-4: rgba(187, 222, 251, 1);
$bluelighten-5: rgba(227, 242, 253, 1);
$brownbrown: rgba(121, 85, 72, 1);
$browndarken-1: rgba(109, 76, 65, 1);
$browndarken-2: rgba(93, 64, 55, 1);
$browndarken-3: rgba(78, 52, 46, 1);
$browndarken-4: rgba(62, 39, 35, 1);
$brownlighten-1: rgba(141, 110, 99, 1);
$brownlighten-2: rgba(161, 136, 127, 1);
$brownlighten-3: rgba(188, 170, 164, 1);
$brownlighten-4: rgba(215, 204, 200, 1);
$brownlighten-5: rgba(239, 235, 233, 1);
$customaccent: rgba(130, 177, 255, 1);
$customerror: rgba(255, 82, 82, 1);
$custominfo: rgba(33, 150, 243, 1);
$customprimary: rgba(111, 158, 255, 1);
$customprimary-004: rgba(25, 118, 210, 0.04);
$customprimary-012: rgba(25, 118, 210, 0.12);
$customsecondary: rgba(66, 66, 66, 1);
$customsuccess: rgba(76, 175, 80, 1);
$customwarning: rgba(251, 140, 0, 1);
$cyanaccent-1: rgba(132, 255, 255, 1);
$cyanaccent-2: rgba(24, 255, 255, 1);
$cyanaccent-3: rgba(0, 229, 255, 1);
$cyanaccent-4: rgba(0, 184, 212, 1);
$cyancyan: rgba(0, 188, 212, 1);
$cyandarken-1: rgba(0, 172, 193, 1);
$cyandarken-2: rgba(0, 151, 167, 1);
$cyandarken-3: rgba(0, 131, 143, 1);
$cyandarken-4: rgba(0, 96, 100, 1);
$cyanlighten-1: rgba(38, 198, 218, 1);
$cyanlighten-2: rgba(77, 208, 225, 1);
$cyanlighten-3: rgba(128, 222, 234, 1);
$cyanlighten-4: rgba(178, 235, 242, 1);
$cyanlighten-5: rgba(224, 247, 250, 1);
$deep-orangeaccent-1: rgba(255, 158, 128, 1);
$deep-orangeaccent-2: rgba(255, 110, 64, 1);
$deep-orangeaccent-3: rgba(255, 61, 0, 1);
$deep-orangeaccent-4: rgba(221, 44, 0, 1);
$deep-orangedarken-1: rgba(244, 81, 30, 1);
$deep-orangedarken-2: rgba(230, 74, 25, 1);
$deep-orangedarken-3: rgba(216, 67, 21, 1);
$deep-orangedarken-4: rgba(191, 54, 12, 1);
$deep-orangedeep-orange: rgba(255, 87, 34, 1);
$deep-orangelighten-1: rgba(255, 112, 67, 1);
$deep-orangelighten-2: rgba(255, 138, 101, 1);
$deep-orangelighten-3: rgba(255, 171, 145, 1);
$deep-orangelighten-4: rgba(255, 204, 188, 1);
$deep-orangelighten-5: rgba(251, 233, 231, 1);
$deep-purpleaccent-1: rgba(179, 136, 255, 1);
$deep-purpleaccent-2: rgba(124, 77, 255, 1);
$deep-purpleaccent-3: rgba(101, 31, 255, 1);
$deep-purpleaccent-4: rgba(98, 0, 234, 1);
$deep-purpledarken-1: rgba(94, 53, 177, 1);
$deep-purpledarken-2: rgba(81, 45, 168, 1);
$deep-purpledarken-3: rgba(69, 39, 160, 1);
$deep-purpledarken-4: rgba(49, 27, 146, 1);
$deep-purpledeep-purple: rgba(103, 58, 183, 1);
$deep-purplelighten-1: rgba(126, 87, 194, 1);
$deep-purplelighten-2: rgba(149, 117, 205, 1);
$deep-purplelighten-3: rgba(179, 157, 219, 1);
$deep-purplelighten-4: rgba(209, 196, 233, 1);
$deep-purplelighten-5: rgba(237, 231, 246, 1);
$default: 0px 1px 5px 0px rgba(0, 0, 0, 0.12),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
$elevation-0: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
$elevation-1: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
$elevation-10: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
$elevation-11: 0px 6px 7px 0px rgba(0, 0, 0, 0.2);
$elevation-12: 0px 7px 8px 0px rgba(0, 0, 0, 0.2);
$elevation-13: 0px 7px 8px 0px rgba(0, 0, 0, 0.2);
$elevation-14: 0px 7px 9px 0px rgba(0, 0, 0, 0.2);
$elevation-15: 0px 8px 9px 0px rgba(0, 0, 0, 0.2);
$elevation-16: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
$elevation-17: 0px 8px 11px 0px rgba(0, 0, 0, 0.2);
$elevation-18: 0px 9px 11px 0px rgba(0, 0, 0, 0.2);
$elevation-19: 0px 9px 12px 0px rgba(0, 0, 0, 0.2);
$elevation-2: 0px 3px 1px 0px rgba(0, 0, 0, 0.2);
$elevation-20: 0px 10px 13px 0px rgba(0, 0, 0, 0.2);
$elevation-21: 0px 10px 13px 0px rgba(0, 0, 0, 0.2);
$elevation-22: 0px 10px 14px 0px rgba(0, 0, 0, 0.2);
$elevation-23: 0px 11px 14px 0px rgba(0, 0, 0, 0.2);
$elevation-24: 0px 11px 15px 0px rgba(0, 0, 0, 0.2);
$elevation-3: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
$elevation-4: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
$elevation-5: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
$elevation-6: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
$elevation-7: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
$elevation-8: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
$elevation-9: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
$greenaccent-1: rgba(185, 246, 202, 1);
$greenaccent-2: rgba(105, 240, 174, 1);
$greenaccent-3: rgba(0, 230, 118, 1);
$greenaccent-4: rgba(0, 200, 83, 1);
$greendarken-1: rgba(67, 160, 71, 1);
$greendarken-2: rgba(56, 142, 60, 1);
$greendarken-3: rgba(46, 125, 50, 1);
$greendarken-4: rgba(27, 94, 32, 1);
$greengreen: rgba(76, 175, 80, 1);
$greenlighten-1: rgba(102, 187, 106, 1);
$greenlighten-2: rgba(129, 199, 132, 1);
$greenlighten-3: rgba(165, 214, 167, 1);
$greenlighten-4: rgba(200, 230, 201, 1);
$greenlighten-5: rgba(232, 245, 233, 1);
$greydarken-1: rgba(117, 117, 117, 1);
$greydarken-2: rgba(97, 97, 97, 1);
$greydarken-3: rgba(66, 66, 66, 1);
$greydarken-4: rgba(33, 33, 33, 1);
$greygrey: rgba(158, 158, 158, 1);
$greylighten-1: rgba(189, 189, 189, 1);
$greylighten-2: rgba(224, 224, 224, 1);
$greylighten-3: rgba(238, 238, 238, 1);
$greylighten-4: rgba(245, 245, 245, 1);
$greylighten-5: rgba(250, 250, 250, 1);
$icon-dense-font-family: 'MaterialIcons-Regular', Helvetica;
$icon-dense-font-size: 20px;
$icon-dense-font-style: normal;
$icon-dense-font-weight: 400;
$icon-dense-letter-spacing: 0px;
$icon-dense-line-height: 100%;
$icon-large-font-family: 'MaterialIcons-Regular', Helvetica;
$icon-large-font-size: 36px;
$icon-large-font-style: normal;
$icon-large-font-weight: 400;
$icon-large-letter-spacing: 0px;
$icon-large-line-height: 100%;
$icon-medium-font-family: 'MaterialIcons-Regular', Helvetica;
$icon-medium-font-size: 24px;
$icon-medium-font-style: normal;
$icon-medium-font-weight: 400;
$icon-medium-letter-spacing: 0px;
$icon-medium-line-height: 100%;
$icon-small-font-family: 'MaterialIcons-Regular', Helvetica;
$icon-small-font-size: 16px;
$icon-small-font-style: normal;
$icon-small-font-weight: 400;
$icon-small-letter-spacing: 0px;
$icon-small-line-height: 100%;
$icon-x-large-font-family: 'MaterialIcons-Regular', Helvetica;
$icon-x-large-font-size: 40px;
$icon-x-large-font-style: normal;
$icon-x-large-font-weight: 400;
$icon-x-large-letter-spacing: 0px;
$icon-x-large-line-height: 100%;
$icon-x-small-font-family: 'MaterialIcons-Regular', Helvetica;
$icon-x-small-font-size: 12px;
$icon-x-small-font-style: normal;
$icon-x-small-font-weight: 400;
$icon-x-small-letter-spacing: 0px;
$icon-x-small-line-height: 100%;
$indigoaccent-1: rgba(140, 158, 255, 1);
$indigoaccent-2: rgba(83, 109, 254, 1);
$indigoaccent-3: rgba(61, 90, 254, 1);
$indigoaccent-4: rgba(48, 79, 254, 1);
$indigodarken-1: rgba(57, 73, 171, 1);
$indigodarken-2: rgba(48, 63, 159, 1);
$indigodarken-3: rgba(40, 53, 147, 1);
$indigodarken-4: rgba(26, 35, 126, 1);
$indigoindigo: rgba(63, 81, 181, 1);
$indigolighten-1: rgba(92, 107, 192, 1);
$indigolighten-2: rgba(121, 134, 203, 1);
$indigolighten-3: rgba(159, 168, 218, 1);
$indigolighten-4: rgba(197, 202, 233, 1);
$indigolighten-5: rgba(232, 234, 246, 1);
$light-blueaccent-1: rgba(128, 216, 255, 1);
$light-blueaccent-2: rgba(64, 196, 255, 1);
$light-blueaccent-3: rgba(0, 176, 255, 1);
$light-blueaccent-4: rgba(0, 145, 234, 1);
$light-bluedarken-1: rgba(3, 155, 229, 1);
$light-bluedarken-2: rgba(2, 136, 209, 1);
$light-bluedarken-3: rgba(2, 119, 189, 1);
$light-bluedarken-4: rgba(1, 87, 155, 1);
$light-bluelight-blue: rgba(3, 169, 244, 1);
$light-bluelighten-1: rgba(41, 182, 246, 1);
$light-bluelighten-2: rgba(79, 195, 247, 1);
$light-bluelighten-3: rgba(129, 212, 250, 1);
$light-bluelighten-4: rgba(179, 229, 252, 1);
$light-bluelighten-5: rgba(225, 245, 254, 1);
$light-greenaccent-1: rgba(204, 255, 144, 1);
$light-greenaccent-2: rgba(178, 255, 89, 1);
$light-greenaccent-3: rgba(118, 255, 3, 1);
$light-greenaccent-4: rgba(100, 221, 23, 1);
$light-greendarken-1: rgba(124, 179, 66, 1);
$light-greendarken-2: rgba(104, 159, 56, 1);
$light-greendarken-3: rgba(85, 139, 47, 1);
$light-greendarken-4: rgba(51, 105, 30, 1);
$light-greenlight-green: rgba(139, 195, 74, 1);
$light-greenlighten-1: rgba(156, 204, 101, 1);
$light-greenlighten-2: rgba(174, 213, 129, 1);
$light-greenlighten-3: rgba(197, 225, 165, 1);
$light-greenlighten-4: rgba(220, 237, 200, 1);
$light-greenlighten-5: rgba(241, 248, 233, 1);
$limeaccent-1: rgba(244, 255, 129, 1);
$limeaccent-2: rgba(238, 255, 65, 1);
$limeaccent-3: rgba(198, 255, 0, 1);
$limeaccent-4: rgba(174, 234, 0, 1);
$limedarken-1: rgba(192, 202, 51, 1);
$limedarken-2: rgba(175, 180, 43, 1);
$limedarken-3: rgba(158, 157, 36, 1);
$limedarken-4: rgba(130, 119, 23, 1);
$limelighten-1: rgba(212, 225, 87, 1);
$limelighten-2: rgba(220, 231, 117, 1);
$limelighten-3: rgba(230, 238, 156, 1);
$limelighten-4: rgba(240, 244, 195, 1);
$limelighten-5: rgba(249, 251, 231, 1);
$limelime: rgba(205, 220, 57, 1);
$orangeaccent-1: rgba(255, 209, 128, 1);
$orangeaccent-2: rgba(255, 171, 64, 1);
$orangeaccent-3: rgba(255, 145, 0, 1);
$orangeaccent-4: rgba(255, 109, 0, 1);
$orangedarken-1: rgba(251, 140, 0, 1);
$orangedarken-2: rgba(245, 124, 0, 1);
$orangedarken-3: rgba(239, 108, 0, 1);
$orangedarken-4: rgba(230, 81, 0, 1);
$orangelighten-1: rgba(255, 167, 38, 1);
$orangelighten-2: rgba(255, 183, 77, 1);
$orangelighten-3: rgba(255, 204, 128, 1);
$orangelighten-4: rgba(255, 224, 178, 1);
$orangelighten-5: rgba(255, 243, 224, 1);
$orangeorange: rgba(255, 152, 0, 1);
$pinkaccent-1: rgba(255, 128, 171, 1);
$pinkaccent-2: rgba(255, 64, 129, 1);
$pinkaccent-3: rgba(245, 0, 87, 1);
$pinkaccent-4: rgba(197, 17, 98, 1);
$pinkdarken-1: rgba(216, 27, 96, 1);
$pinkdarken-2: rgba(194, 24, 91, 1);
$pinkdarken-3: rgba(173, 20, 87, 1);
$pinkdarken-4: rgba(136, 14, 79, 1);
$pinklighten-1: rgba(236, 64, 122, 1);
$pinklighten-2: rgba(240, 98, 146, 1);
$pinklighten-3: rgba(244, 143, 177, 1);
$pinklighten-4: rgba(248, 187, 208, 1);
$pinklighten-5: rgba(252, 228, 236, 1);
$pinkpink: rgba(233, 30, 99, 1);
$purpleaccent-1: rgba(234, 128, 252, 1);
$purpleaccent-2: rgba(224, 64, 251, 1);
$purpleaccent-3: rgba(213, 0, 249, 1);
$purpleaccent-4: rgba(170, 0, 255, 1);
$purpledarken-1: rgba(142, 36, 170, 1);
$purpledarken-2: rgba(123, 31, 162, 1);
$purpledarken-3: rgba(106, 27, 154, 1);
$purpledarken-4: rgba(74, 20, 140, 1);
$purplelighten-1: rgba(171, 71, 188, 1);
$purplelighten-2: rgba(186, 104, 200, 1);
$purplelighten-3: rgba(206, 147, 216, 1);
$purplelighten-4: rgba(225, 190, 231, 1);
$purplelighten-5: rgba(243, 229, 245, 1);
$purplepurple: rgba(156, 39, 176, 1);
$redaccent-1: rgba(255, 138, 128, 1);
$redaccent-2: rgba(255, 82, 82, 1);
$redaccent-3: rgba(255, 23, 68, 1);
$redaccent-4: rgba(213, 0, 0, 1);
$reddarken-1: rgba(229, 57, 53, 1);
$reddarken-2: rgba(211, 47, 47, 1);
$reddarken-3: rgba(198, 40, 40, 1);
$reddarken-4: rgba(183, 28, 28, 1);
$redlighten-1: rgba(239, 83, 80, 1);
$redlighten-2: rgba(229, 115, 115, 1);
$redlighten-3: rgba(239, 154, 154, 1);
$redlighten-4: rgba(255, 205, 210, 1);
$redlighten-5: rgba(255, 235, 238, 1);
$redred: rgba(244, 67, 54, 1);
$shadesblack: rgba(0, 0, 0, 1);
$shadeswhite: rgba(255, 255, 255, 1);
$tealaccent-1: rgba(167, 255, 235, 1);
$tealaccent-2: rgba(100, 255, 218, 1);
$tealaccent-3: rgba(29, 233, 182, 1);
$tealaccent-4: rgba(0, 191, 165, 1);
$tealdarken-1: rgba(0, 137, 123, 1);
$tealdarken-2: rgba(0, 121, 107, 1);
$tealdarken-3: rgba(0, 105, 92, 1);
$tealdarken-4: rgba(0, 77, 64, 1);
$teallighten-1: rgba(38, 166, 154, 1);
$teallighten-2: rgba(77, 182, 172, 1);
$teallighten-3: rgba(128, 203, 196, 1);
$teallighten-4: rgba(178, 223, 219, 1);
$teallighten-5: rgba(224, 242, 241, 1);
$tealteal: rgba(0, 150, 136, 1);
$text-body-1-font-family: 'Roboto-Regular', Helvetica;
$text-body-1-font-size: 16px;
$text-body-1-font-style: normal;
$text-body-1-font-weight: 400;
$text-body-1-letter-spacing: 0.5px;
$text-body-1-line-height: 24px;
$text-body-2-font-family: 'Roboto-Regular', Helvetica;
$text-body-2-font-size: 14px;
$text-body-2-font-style: normal;
$text-body-2-font-weight: 400;
$text-body-2-letter-spacing: 0.25px;
$text-body-2-line-height: 20px;
$text-button-font-family: 'Roboto-Medium', Helvetica;
$text-button-font-size: 14px;
$text-button-font-style: normal;
$text-button-font-weight: 500;
$text-button-letter-spacing: 1.25px;
$text-button-line-height: 36px;
$text-caption-font-family: 'Roboto-Regular', Helvetica;
$text-caption-font-size: 12px;
$text-caption-font-style: normal;
$text-caption-font-weight: 400;
$text-caption-letter-spacing: 0.4000000059604645px;
$text-caption-line-height: 20px;
$text-h1-font-family: 'Roboto-Regular', Helvetica;
$text-h1-font-size: 88px;
$text-h1-font-style: normal;
$text-h1-font-weight: 400;
$text-h1-letter-spacing: 1.5px;
$text-h1-line-height: 96px;
$text-h2-font-family: 'Roboto-Regular', Helvetica;
$text-h2-font-size: 57px;
$text-h2-font-style: normal;
$text-h2-font-weight: 400;
$text-h2-letter-spacing: 0.5px;
$text-h2-line-height: 60px;
$text-h3-font-family: 'Roboto-Regular', Helvetica;
$text-h3-font-size: 48px;
$text-h3-font-style: normal;
$text-h3-font-weight: 400;
$text-h3-letter-spacing: 0px;
$text-h3-line-height: 50px;
$text-h4-font-family: 'Roboto-Regular', Helvetica;
$text-h4-font-size: 34px;
$text-h4-font-style: normal;
$text-h4-font-weight: 400;
$text-h4-letter-spacing: 0.25px;
$text-h4-line-height: 40px;
$text-h5-font-family: 'Roboto-Regular', Helvetica;
$text-h5-font-size: 23px;
$text-h5-font-style: normal;
$text-h5-font-weight: 400;
$text-h5-letter-spacing: 0px;
$text-h5-line-height: 32px;
$text-h6-font-family: 'Roboto-Regular', Helvetica;
$text-h6-font-size: 20px;
$text-h6-font-style: normal;
$text-h6-font-weight: 400;
$text-h6-letter-spacing: 0.25px;
$text-h6-line-height: 32px;
$text-overline-font-family: 'Roboto-Regular', Helvetica;
$text-overline-font-size: 12px;
$text-overline-font-style: normal;
$text-overline-font-weight: 400;
$text-overline-letter-spacing: 2px;
$text-overline-line-height: 32px;
$text-subtitle-1-font-family: 'Roboto-Regular', Helvetica;
$text-subtitle-1-font-size: 15px;
$text-subtitle-1-font-style: normal;
$text-subtitle-1-font-weight: 400;
$text-subtitle-1-letter-spacing: 0.15000000596046448px;
$text-subtitle-1-line-height: 28px;
$text-subtitle-2-font-family: 'Roboto-Regular', Helvetica;
$text-subtitle-2-font-size: 14px;
$text-subtitle-2-font-style: normal;
$text-subtitle-2-font-weight: 400;
$text-subtitle-2-letter-spacing: 0.10000000149011612px;
$text-subtitle-2-line-height: 22px;
$yellowaccent-1: rgba(255, 255, 141, 1);
$yellowaccent-2: rgba(255, 255, 0, 1);
$yellowaccent-3: rgba(255, 234, 0, 1);
$yellowaccent-4: rgba(255, 214, 0, 1);
$yellowdarken-1: rgba(253, 216, 53, 1);
$yellowdarken-2: rgba(251, 192, 45, 1);
$yellowdarken-3: rgba(249, 168, 37, 1);
$yellowdarken-4: rgba(245, 127, 23, 1);
$yellowlighten-1: rgba(255, 238, 88, 1);
$yellowlighten-2: rgba(255, 241, 118, 1);
$yellowlighten-3: rgba(255, 245, 157, 1);
$yellowlighten-4: rgba(255, 249, 196, 1);
$yellowlighten-5: rgba(255, 253, 231, 1);
$yellowyellow: rgba(255, 235, 59, 1);
